In [0]:
x = 5
y = 10
print(x+y)

15

In [0]:
list = [1,2,3,4,5]
print(list)
print(sum(list))

[1, 2, 3, 4, 5]
15

In [0]:
print(sum(list)/len(list))

3.0

In [0]:
tup = (1,2,3,4)
print(tup)
print(sum(tup))

(1, 2, 3, 4)
10

In [0]:
my_set = {1,2,3,4,5,6}
print(my_set)
my_set.add(7)
print(my_set)
my_set.update([11,12,13])
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 11, 12, 13}

In [0]:
dict = {"name" : "Atishay", "age" : 21}
print(dict["name"])
dict["age"] = 22
print(dict.keys())
print(dict.values())

Atishay
dict_keys(['name', 'age'])
dict_values(['Atishay', 22])

- A Spark session is initiated using SparkSession.builder
- A list of tuples is passed to createDataFrame, defining column names.

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PythonDF").getOrCreate()
# Creating DataFrame from list of tuples
data = [(1, "Alice"), (2, "Bob"), (3, "Carol")]
df = spark.createDataFrame(data, ["id", "name"])
df.show()

+---+-----+
| id| name|
+---+-----+
|  1|Alice|
|  2|  Bob|
|  3|Carol|
+---+-----+

Basic Transformations and Actions on DataFrames

- `select()` returns specified columns.
- `filter()` applies row-level conditions.
- `count()` returns the number of rows.
- `describe()` gives stats like count, mean, stddev, min, max.
- `withColumn()` adds or modifies a column.

In [0]:
# Select specific columns
df.select("name").show()

# Filter rows
df.filter(df["id"] > 1).show()

# Count rows
print(df.count())

# Describe summary statistics (numeric columns)
df.describe().show()

# Add new column with literal value
from pyspark.sql.functions import lit
df = df.withColumn("country", lit("India"))
df.show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-2843992038415048>:2
      1 # Select specific columns
----> 2 df.select("name").show()
      4 # Filter rows
      5 df.filter(df["id"] > 1).show()

NameError: name 'df' is not defined

In [0]:
from pyspark.sql.functions import avg, sum

sales_data = [
    ("2024-01-01", "North", "Product A", 10, 200.0),
    ("2024-01-01", "South", "Product B", 5, 300.0),
    ("2024-01-02", "North", "Product A", 20, 400.0),
    ("2024-01-02", "South", "Product B", 10, 600.0),
    ("2024-01-03", "East",  "Product C", 15, 375.0),
]
columns = ["date", "region", "product", "quantity", "revenue"]
sales_df = spark.createDataFrame(sales_data, columns)
sales_df.show()

total_revenue_per_product = sales_df.groupBy("product").agg(  
    sum(("revenue")).alias("total_revenue")  
).show()

# sales_df.printschema()

+----------+------+---------+--------+-------+
|      date|region|  product|quantity|revenue|
+----------+------+---------+--------+-------+
|2024-01-01| North|Product A|      10|  200.0|
|2024-01-01| South|Product B|       5|  300.0|
|2024-01-02| North|Product A|      20|  400.0|
|2024-01-02| South|Product B|      10|  600.0|
|2024-01-03|  East|Product C|      15|  375.0|
+----------+------+---------+--------+-------+

+---------+-------------+
|  product|total_revenue|
+---------+-------------+
|Product A|        600.0|
|Product B|        900.0|
|Product C|        375.0|
+---------+-------------+

In [0]:

total_qty_region = sales_df.groupBy("region").agg(sum("quantity").alias("by region")).show()

+------+---------+
|region|by region|
+------+---------+
| North|       30|
| South|       15|
|  East|       15|
+------+---------+

In [0]:
avg_reveue_per_product = sales_df.groupBy("product").agg(avg("revenue").alias("Avg_revenue_per_product")).show()

+---------+-----------------------+
|  product|Avg_revenue_per_product|
+---------+-----------------------+
|Product A|                  300.0|
|Product B|                  450.0|
|Product C|                  375.0|
+---------+-----------------------+

In [0]:

highest_revenue = sales_df.groupBy("region").agg(sum("revenue").alias("by region")).orderBy("by region", ascending=False).limit(1).show()

+------+---------+
|region|by region|
+------+---------+
| South|    900.0|
+------+---------+